* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #151c26;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
